@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.categoryContainer {
    .categoryCard {
      display: flex;
      color: #001859;
      font-family: 'Bebas Neue', cursive;
      .front {
        .imgButton {
          .categoryImg {

          }
        }
      }
      .back {
        padding: 1em;
        .backFlip {
          .name {

          }
          #area {

          }
        }
        .buttonContainer {
          #deleteCategory {
            background-color: #001859;
            color: #f8cd4c;
            font-family: 'Bebas Neue', cursive;
            border-radius: 5px;
          }
          #editCategory {
            background-color: #001859;
            color: #f8cd4c;
            font-family: 'Bebas Neue', cursive;
            border-radius: 5px;
          }
          #viewCategoryItems {
            background-color: #001859;
            color: #f8cd4c;
            font-family: 'Bebas Neue', cursive;
            border-radius: 5px;
          }
        }
        .displayEdit {

        }
      }
    }
}
