@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

    .categoryCard {
      display: flex;
      color: gray;
      font-family: 'Bebas Neue', cursive;
      width: 10rem;
      height: max-content;
      margin: .25em;
    }
    .categoryName {
      color: #B6B34B;
    }   
    .buttonCategoryImage {
      width: 1.5em;
      border: 0px solid transparent;
      background-color: transparent;
    }
    .buttonContainer {
      border: 0px solid transparent;
      background-color: transparent;
      display: flex;
      flex-flow: row;
      justify-content: center;
      #deleteCategory {
        border: 0px solid transparent;
        background-color: transparent;
      }
      #editCategory {
        border: 0px solid transparent;
        background-color: transparent;
      }
      #viewCategory {
        border: 0px solid transparent;
        background-color: transparent;
      }
    }

    .modalClose {
      color: white;
      border-radius: 5px;
      margin-top: 2em;
      font-family: 'Bebas Neue', cursive;
      align-self: center;
      border: 0px solid transparent;
      background-color: transparent;
      margin-bottom: 2em;
      img {
        width: 1em;
        margin-left: 1em;
        margin-right: 1em;
      }
    }
    
    .Modal {
    background-color: #b6b34b;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    }
