.itemCard {
  display: flex;
  color: gray;
  font-family: 'Bebas Neue', cursive;
  width: 10rem;
  height: max-content;
  margin: .25em;

  .itemName {
    color: #B6B34B;
  }   

 #area {
   color: gray;
 }
#price {
  color: #B6B34B;
}

 .greenPrice {
   width: 1em;
 }

 .greenDelete {
  width: 1.5em;
}
.greenUpdate {
  width: 1.5em;
}
  #deleteItem {
    border: 0px solid transparent;
    background-color: transparent;
  }
  #editItem {
    border: 0px solid transparent;
    background-color: transparent;
  }
}

.modalClose {
  color: white;
  border-radius: 5px;
  margin-top: 2em;
  font-family: 'Bebas Neue', cursive;
  align-self: center;
  border: 0px solid transparent;
  background-color: transparent;
  margin-bottom: 2em;
  img {
    width: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }
}

.Modal {
background-color: #b6b34b;
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-flow: column;
}
