@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.NavBar {
  background-color: #B6B34B;
  .nav-link {
    color: white;
    font-size: x-small;
    font-family: 'Bebas Neue', cursive;
    .navImg {
      width: 2em;
      margin-left: 1em;
      margin-right: 1em;
    }
  }
  .collapse {
    color: white;
  }
  #authButtons {
  padding-top: 1.25em;  
    .loggedInRight {
      display: flex;
      flex-flow: row;
      .loggedInProfilePic {
        width: 2em;
        margin-right: 1em;
        margin-bottom: 1em;
      }
      .wordInfo {
        color: white;
        margin-right: 1em;
        font-size: xx-small;
        font-family: 'Bebas Neue', cursive;
      }
      #signOut {
        background-color: white;
        color: #B6B34B;
        border-radius: 5px;
        font-size: small;
        font-family: 'Bebas Neue', cursive;
        padding-left: 1em;
        padding-right: 1em;
        height: 2.25em;
        border-color: #B6B34B;
        padding-bottom: .5em;
        margin-bottom: 1em;
        #signOutButton {
          width: 1em;
          margin-right: .5em;
        }
      }
    }
  }
}
