@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.NavBar {
  background-color: #001859;
}

.navImg {
  width: 1.75em;
  margin-left: 1em;
}

.loggedInRight {
  display: flex;
  flex-flow: row;
  .loggedInProfilePic {
  width: 2em;
  margin-right: 1em;
  margin-bottom: 1em;
  }
  .wordInfo {
    color: #f8cd4c;
    margin-right: 1em;
    margin-bottom: 1em;
    font-size: xx-small;
  }
  #signOut {
  background-color: #f8cd4c;
  color: #001859;
  border-radius: 5px;
  font-family: 'Bebas Neue', cursive;
  padding-left: 1em;
  padding-right: 1em;
  height: 2em;
    #signOutButton {
    width: 1em;
    }
  }
}
