@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.eventContainer {
  display: flex;
  flex-flow: row wrap;
  .eventCard {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 30em;
    background-color: #f8cd4c;
    font-family: 'Bebas Neue', cursive;
    margin: 2em;
    box-shadow: 2em solid #001859;
    .eventLeft {
      font-family: 'Bebas Neue', cursive;
      align-items: center;
      width: 15em;
      color: #001859;
    }
    .eventRight {
      font-family: 'Bebas Neue', cursive;
      font-size: small;
      align-items: center;
      width: 15em;
      padding-top: 2em;
      padding-bottom: 2em;
      color: #001859;
      #deleteEvent {
        background-color: #001859;
        color: #f8cd4c;
        font-family: 'Bebas Neue', cursive;
        border-radius: 5px;
      }
      #editEvent {
        background-color: #001859;
        color: #f8cd4c;
        font-family: 'Bebas Neue', cursive;
        border-radius: 5px;
      }
    }
  }
}
