.itemContainer {
.itemCard {
  display: flex;
  color: #001859;
  font-family: 'Bebas Neue', cursive;
  #deleteItem {
    background-color: #001859;
    color: #f8cd4c;
    font-family: 'Bebas Neue', cursive;
    border-radius: 5px;
  }
  #editItem {
    background-color: #001859;
    color: #f8cd4c;
    font-family: 'Bebas Neue', cursive;
    border-radius: 5px;
  }
}
}
