@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.eventView {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  margin-top: 2em;
  .innerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .searchAndCardContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      h6 {
        color: #b6b34b;
      }
      .searchBarContainer {
        width: 40%;
      }
      #addEvent {
        margin-top: 2em;
        background-color: #b6b34b;
        color: white;
        border-radius: .3em;
      }
      .eventCardContainer {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        width: 100%;
      }
    }
  }
  #closeForm {

  }
}
