@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#addEventForm {
  border: 0px solid transparent;
  background-color: white;
  color: #b6b34b;
  display: flex; 
  flex-flow: column;
  width: 75%;
  align-items: center;
  border-radius: 1em;
  font-family: 'Bebas Neue', cursive;
  padding: .5em;
}

.eventNameLabel {
  margin-top: 2em;
}
    .event {
      width: 75%;
      border-radius: .25em;
      font-family: 'Bebas Neue', cursive;
    }
    .addEvent {
      margin-top: 2em;
      margin-bottom: 2em;
      align-items: center;
      background-color: #b6b34b;
      color: white;
      border-radius: 5px;
      font-family: 'Bebas Neue', cursive;
    }
