@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.itemView {
  .innerContainer {
    .searchItems {
      margin-top: 2em;
      font-family: 'Bebas Neue', cursive;
      .label {
        color: #001859;
      }
      .input {
        width: 20em;
        color: #001859;
        border-radius: 5px;
        margin-right: 1em;
      }
      .searchItemsButton {
        background-color: #F8CD4C;
        color: #001859;
        border-radius: 5px;
      }
    }
    #addItem {
      background-color: #F8CD4C;
      color: #001859;
      border-radius: 5px;
      margin-top: 2em;
      font-family: 'Bebas Neue', cursive;
    }
    #closeForm {
      background-color: #F8CD4C;
      color: #001859;
      border-radius: 5px;
      margin-top: 2em;
      font-family: 'Bebas Neue', cursive;
    }
    .stackGridItems {
      margin-top: 3em;
      margin-right: 10em;
      margin-left: 10em;
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      align-items: flex-start;
    }
  }
}
